*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: "Poppins", serif;
}

/* navbar starts here */

 .navbar-brand{ 
    padding: 0px 40px;
}

.navbar-nav{
    padding: 0px 90px;
}

.nav-item{
    margin-left:55px;
}

.nav-icon{
    margin-left:40px;
}

/* carousel starts here */

.carousel-item img{
    width: 1440px;
    height: 716.83px;   
}

.card{
    width: 643px;
    height: 443px;
    margin-top: -550px;
    margin-left: 779px;
    border-radius: 10px;
    background-color: #FFF3E3;
    position: absolute;
    border: none;
}

.card-body{
    width: 561px;
    height: 344px;
    padding:62px 43px 37px 39px;
}

.card-title{
    width: 223px;
    height: 24px;
    font-family:"Poppins", serif ;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: left;
    color: #333;
}

.heading{
    width: 450px;
    height: 127px;
    top: 343px;
    left: 780px;
    font-family: "Poppins", serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color:#B88E2F;
}

.card-text{
    width: 546px;
    height: 52px;
    top: 487px;
    left: 780px;
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333; 
}

.btn{
    width: Hug (222px)px;
    height: Hug (74px)px;
    top: 585px;
    left: 778px;
    padding: 25px 72px 25px 72px;
    gap: 10px;
    background-color: #B88E2F;
    border: none;
}

.btn-primary{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color:#fff;
}

/* responsive */

@media only screen and (max-width:768px){
    .card{
        width:300px;
        margin-right: 700px;
    }

    .card-body{
        width:220px;
    }
}

/*footer starts here  */

.footer-bottom-text{
      padding:10px 70px;
}